.acf-icomoon-picker__form {
  &-control {
	width: 100%;
	display: flex;
  }

  &-col {
	flex: 1;
	margin-bottom: 20px;
  }

  &__description {
	display: block;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 30px;
	color: #856404;
	background: #fff3cd;
	border: 1px solid #ffeeba;
  }

  &__upload {
	display: inline-block;
	position: relative;

	label {
	  display: block;
	  background: #f6f7f7;
	  color: #2271b1;
	  padding: 10px 40px;
	  font-weight: 500;
	  border: 1px solid #2271b1;
	  border-radius: 4px;
	}

	input[type="file"] {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 2;
	  opacity: 0;
	}

	&-filename {
	  display: none;
	}

	&.uploaded {
	  .acf-icomoon-picker__form__upload-filename {
		display: block;
	  }

	  .acf-icomoon-picker__form__upload-text {
		display: none;
	  }

	  > label {
		color: #155724;
		background-color: #d4edda;
		border-color: #155724;
	  }
	}
  }

  &__checkbox {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	padding: 10px;

	&-label {
	  font-weight: 500;
	}

	&-switch {
	  position: relative;
	  display: inline-block;
	  width: 50px;
	  height: 24px;
	  margin-right: 15px;

	  input {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .slider {
		  background-color: #2196F3;

		  &:before {
			transform: translateX(26px);
		  }
		}

		&:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}
	  }

	  .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		transition: .4s;
		border-radius: 34px;

		&:before {
		  position: absolute;
		  content: "";
		  height: 16px;
		  width: 16px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  transition: .4s;
		  border-radius: 50%;
		}
	  }
	}
  }
}
